#about-home{
    height: 100vh;
    width: 90vw;
}

.img-about {
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
    margin-top: 70px;
    right: 0;
    width: 60%;
    height: 70%;
    background-size: 100%;

    background-image: url(../img/67760622_2275241809363191_1640347335756087296_o.jpg);
}

.nav-a a::after {
    position: fixed;
    font-size: 20px;
    top: 5%;
    transition: 0.2s;
    right: 10%;
    content: 'back.';
    
}
.nav-a a:hover::after {
    content: 'back.home';
    right: 7%;

}


.text-about {
    
    text-align: center;
    margin-right: 20px;
    margin-left: 170px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 167px;
    letter-spacing: 0.06em;
}

#about-home p {
    color: var(--color-primary);
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    padding-left: 17%;
    padding-top: 20%;
    line-height: 115px;
    letter-spacing: 0.500em;

}

.about-me-text {
    width: 55%;
    padding-left: 20%;
}

.about-me-text h1 {
    padding-top: 30%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 77px;
    line-height: 115px;
    letter-spacing: 0.235em;
}

.text-about-me-p {
    padding-top: 90px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.100em;
}

.back-about {
    z-index: -1;
    position: absolute;
    margin-top: -50px;
    margin-left: -10%;

    color: #3131318f;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 210px;
    line-height: 601px;
    letter-spacing: 0.535em;
}


@media(max-width: 880px) {
    #about-home p{
        padding-top: 50%;
        width: 400px;
    }
    .text-about {
        width: 475px;
    }
    .about-me-text h1 {
        padding-top: 140%;
    }
    .back-about {
        font-size: 180px;
        margin-left: -50px;
        letter-spacing: 0;
        margin-top: 100px;
    }
    .about-me-text {
        width: 80%;
        padding-left: 10%;
    }
    .img-about {
        left: 0;
        width: 90%;
        height: 70%;
        background-size: 130%;
    }
}
